.body,
html,
ul {
  margin: 0;
  padding: 0;
  background-color: #2a2d33;
}
:root {
  --hoverColor: #ff6188;
}

#boardParent {
  margin-top: max(0px, calc(50vh - min(80vh, 95vw)));
  margin-right: auto;
  margin-left: auto;
  max-width: min(80vh, 95vw);
  display: flex;
  flex-direction: column;
}

#board {
  display: grid;
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 5px;
}
#winText {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 3rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  align-content: center;
  list-style: none;
  gap: 5px;
}

li {
  aspect-ratio: 1/1;

  text-align: center;
  border: 1px solid #3b3f43;
  background-color: #303338;
  transition: background-color 0.1s ease-in-out;
  /* box-shadow: #1b1e22 1px 2px 10px; */
  animation: none;
}

li:hover {
  background-color: var(--hoverColor);
}

li[value='x'] {
  background-color: #ff6188;
  box-shadow: #ff6188 0 0 20px;
}
li[value='o'] {
  background-color: #ffd866;
  box-shadow: #ffd866 0 0 20px;
}
