.body,
html,
ul {
  margin: 0;
  padding: 0;
  background-color: #2a2d33;
}
:root {
  --hoverColor: #ff6188;
}

#boardParent {
  margin-top: max(0px, calc(50vh - min(80vh, 95vw)));
  margin-right: auto;
  margin-left: auto;
  max-width: min(80vh, 95vw);
  display: flex;
  flex-direction: column;
}

#board {
  display: grid;
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 0px;
}
#winText {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 3rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  align-content: center;
  list-style: none;
  gap: 0px;
}

li {
  aspect-ratio: 1/1;
  margin: 5%;
  text-align: center;
  border: 1px solid #3b3f43;
  background-color: #303338;
  transition: background-color 0.1s ease-in-out;
  animation: none;
}

li:hover {
  background: var(--hoverColor);
}

li[value='x'] {
  background: radial-gradient(white, #ff6188);
  z-index: 10;
  box-shadow: #ff6188 0 0 30px;
}
li[value='o'] {
  background: radial-gradient(white, #ffd866);
  z-index: 10;
  box-shadow: #ffd866 0 0 30px;
}
