.body,
html,
ul {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #2a2d33;
}

:root {
  --hoverColor: #61b0ff;
}

#boardParent {
  margin-top: max(0px, calc(50vh - min(80vh, 95vw)));
  margin-right: auto;
  margin-left: auto;
  max-width: min(80vh, 95vw);
  display: flex;
  flex-direction: column;
}

#version {
  position: absolute;
  margin: 0;
  bottom: 0;
}

#text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  align-content: center;
  gap: 0px;
}

.cell {
  aspect-ratio: 1/1;
  margin: 5%;
  text-align: center;
  border: 1px solid #3b3f43;
  background-color: #303338;
  transition: all 10s cubic-bezier(0.68, 2.02, 0.57, 0.73);
  transition: background 3s;
  transition: border 0.5s cubic-bezier(0.68, 2.02, 0.57, 0.73);

  animation: none;
  transform: scale(1);
  z-index: 0;
}

.cell:hover {
  /* background: var(--hoverColor); */
  transition: border 0.2s cubic-bezier(0.68, 2.02, 0.57, 0.73);
  border: dashed #61b0ff 10px;
}
.cell:active {
  transform: scale(1.2);
}

.cell[value='x'] {
  background: radial-gradient(white, #61b0ff);
  transition: all 0.2s cubic-bezier(0.68, 2.02, 0.57, 0.73);
  transform: scale(1);

  border-color: rgba(0, 0, 0, 0.39);

  z-index: 10;
  box-shadow: #61b0ff 0 0 30px;
}
.cell[value='o'] {
  background: radial-gradient(white, #ff8566);
  transition: all 0.2s cubic-bezier(0.68, 2.02, 0.57, 0.73);

  border-color: rgba(0, 0, 0, 0.39);

  z-index: 10;
  box-shadow: #ff8566 0 0 30px;
}
